.container{
position: relative;
width: 1440px;
height: 7648px;

background: #FFFFFF;
}

.headtitle{
position: absolute;
width: 804px;
height: 128px;
left: 318px;
top: 184px;
    
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 64px;
/* or 100% */   
text-align: center;
letter-spacing: -0.02em;
    
color: #181818;    
}

.title_text {
    position: absolute;
width: 484px;
height: 48px;
left: 478px;
top: 352px;
padding-top: 40px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
text-align: center;
color: #000000;
}

.container_man{
position: relative;
width: 170px;
height: 170px;
left: 1122px;
top: 40px;
}

.man img {
width: 110px;
height: 110px;
left: 30px;
top: 26px;

font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 110px;
line-height: 110px;
/* identical to box height, or 100% */
text-align: center;
color: #000000;
}

.developer{
width: 93px;
height: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
text-transform: uppercase;
color: #000000;
}

.developer_container{
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 8px;
gap: 8px;
margin-top: 0px;

position: absolute;
width: 109px;
height: 32px;
left: 140px;
top: 38px;

border: 2px solid #000000;
border-radius: 8px;
}

.developer_container__title{
width: 93px;
height: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
text-transform: uppercase;
color: #000000;
}

.button_list{
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-start;
padding: 0px;
gap: 32px;

position: absolute;
width: 446px;
height: 24px;
right: 497px;
top: 40px;
}

.list-work{
width: 58px;
height: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #000000;
}

.list-services {
width: 53px;
height: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #000000;
}

.list-process {
width: 68px;
height: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #000000;
}

.list-aboutme {
width: 66px;
height: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #000000;
}

.list-contacts {
width: 73px;
height: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #000000;
}

.container__lightning{
position: absolute;
width: 100px;
height: 100px;
left: 1171px;
top: 410px;
}

.container__message{
position: absolute;
width: 64px;
height: 64px;
left: 209px;
top: 362px;
}

.container__options{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;
margin-top: 47.5px;

position: absolute;
width: 452px;
height: 56px;
left: 494px;
top: 480px;
}

.options_telegram{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 24px 17px;
gap: 8px;
    
width: 173px;
height: 24px;
    
background: #181818;
border-radius: 8px;
}

.telegram__text{
width: 167px;
height: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
}

.options_portfolio{
box-sizing: border-box;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 24px 17px;
gap: 12px;

width: 221px;
height: 56px;

border: 2px solid #181818;
border-radius: 8px;
}

.portfolio__text{
width: 137px;
height: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
color: #181818;
}

.main-section{
position: absolute;
width: 1160px;
height: 2056px;
left: 140px;
top: 656px;
}

.button{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 17px;
margin-top:60px;

position: absolute;
width: 473px;
height: 32px;
left: 350px;
top: 0px;
}

.button__all{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px 16px;
gap: 8px;

width: 30px;
height: 24px;

background: #181818;
border-radius: 10000px;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.button_all_text{
width: 30px;
height: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
color: #FFFFFF;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.button__site{
box-sizing: border-box;
/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px 16px;
gap: 8px;

width: 146px;
height: 32px;

border: 1px solid #000000;
border-radius: 10000px;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}

.button_site_text{
width: 114px;
height: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
color: #181818;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.button__working{
box-sizing: border-box;
/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px 16px;
gap: 8px;

width: 123px;
height: 32px;

border: 1px solid #000000;
border-radius: 10000px;
/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
}

.button_working_text{
width: 91px;
height: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
color: #181818;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.button__design{
box-sizing: border-box;
/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px 16px;
gap: 8px;

width: 91px;
height: 32px;

border: 1px solid #000000;
border-radius: 10000px;
/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
}

.button_design_text{
width: 59px;
height: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
color: #181818;
}

.main-section__building{
box-sizing: border-box;

width: 1160px;
height: 460px;
margin-top: 148px;

background: url(image.png);
border: 1px solid #DBDBDB;
border-radius: 20px;
}

.main-section__image{
display: flex;
flex-direction: row;
align-items: flex-start;
margin-top: 40px;
gap: 40px;

width: 1160px;
height: 400px;
}

.main-section__nature{
box-sizing: border-box;

width: 1160px;
height: 544px;

background: url(Untitled.png), #181818;
border: 1px solid #DBDBDB;
border-radius: 20px;
margin-top: 40px;
}

#kondopoga{
width:1160px; 
height:544px;
border-radius: 20px;  
}

.main-section__image-two{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 40px;
margin-top: 40px;

width: 1160px;
height: 460px;
}

.description{
position: absolute;
width: 997px;
height: 560px;
left: 135px;
top: 2268px;
}

.description__self-image{
width: 420px;
height: 560px;
left: 300px;
top: 2176px;

background: url(/src/img/white.png) ;
border-radius: 24px;
}

.description__title{
position: absolute;
width: 478px;
height: 64px;
left: 480px;
top: 40px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 64px;
/* identical to box height, or 133% */
letter-spacing: -0.02em;
color: #181818;
}

.description__text{
position: absolute;
width: 484px;
height: 168px;
left: 480px;
top: 128px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
color: #000000;
}

.description__cup{
position: absolute;
width: 100px;
height: 100px;
left: -73px;
top: 448px;
}

.description__container1{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

position: absolute;
width: 79px;
height: 88px;
left: 480px;
top: 392px;
}

.description__container1_text1{
width: 41px;
height: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 24px;
/* identical to box height, or 100% */
font-feature-settings: 'pnum' on, 'lnum' on;
color: #181818;
}

.description__container1_text2{
width: 79px;
height: 48px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
color: #181818;
}

.description__container2{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

position: absolute;
width: 87px;
height: 88px;
left: 644px;
top: 392px;
}

.description__container2_text1{
width: 63px;
height: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 24px;
/* identical to box height, or 100% */
font-feature-settings: 'pnum' on, 'lnum' on;
color: #181818;
}

.description__container2_text2{
width: 87px;
height: 48px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
color: #181818;
}

.description__container3{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

position: absolute;
width: 46px;
height: 88px;
left: 818px;
top: 392px;
}

.description__container3_text1{
width: 38px;
height: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 24px;
font-feature-settings: 'pnum' on, 'lnum' on;
color: #181818;
}

.description__container3_text2{
width: 46px;
height: 48px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #181818;
}

.services__background{
position: absolute;
width: 1520px;
height: 768px;
left: -150px;
top: 2948px;

background: #181818;
}

.services__title{
position: absolute;
width: 156px;
height: 64px;
left: 492px;
top: 3068px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 64px;
/* identical to box height, or 133% */
letter-spacing: -0.02em;
color: #FFFFFF;
}

.services__container{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 28px;

position: absolute;
width: 1160px;
height: 384px;
left: -10px;
top: 3212px;
}

#block{
width: 368px;
height: 384px;
background: #ffffff;
border-radius: 16px;   
}

.services__container__block{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;
width: 368px;
height: 384px;
background: #FFFFFF;
border-radius: 16px;
}

.block_type{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 56px;

width: 288px;
height: 304px;
}

.block_type__number{
width: 288px;
height: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 24px;
font-feature-settings: 'pnum' on, 'lnum' on;
color: #181818;
opacity: 0.5;
}

.block_type__title{
width: 288px;
height: 24px;
margin-top: -45px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
color: #181818;
}

.block_type__text{
width: 288px;
height: 96px;
margin-top:-40px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #181818;
}

.block_type__text2{
width: 288px;
height: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 24px;
font-feature-settings: 'pnum' on, 'lnum' on;
color: #181818;
}

.block_type__line{
width: 80px;
height: 0px;
opacity: 0.2;
border: 1px solid #181818;
}

.calculate__title{
position: absolute;
width: 446px;
height: 64px;
left: 362px;
top: 3772px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 64px;
/* identical to box height, or 133% */
letter-spacing: -0.02em;
color: #181818;
}

.calculate__container{
box-sizing: border-box;
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 40px 24px;
gap: 8px;

position: absolute;
width: 448px;
height: 368px;
left: 360px;
top: 3952px;

background: #FFFFFF;
border: 1px solid #CCCCCC;
border-radius: 16px;
}

.calculate__container2{
box-sizing: border-box;
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 40px 24px;
gap: 24px;

position: absolute;
width: 400px;
height: 384px;
left: 384px;
top: 4320px;

background: #FFFFFF;
border: 1px solid #CCCCCC;
border-radius: 0px 0px 16px 16px;
}

.calculate__container_frame{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 400px;
height: 192px;
}

.calculate__container_select{
width: 400px;
height: 48px;
/* #fff white */
background: #FFFFFF;
border-radius: 8px;
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #808080;
}

.select__item{
width: 89px;
height: 24px;
margin-left: 10px;

font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
/* #808080 secondary black */
color: #808080;
}

.calculate__checkbox{
display:flex;
width:363px;
height:48px;
margin-top: -140px;
}

.calculate__checkbox__value{
box-sizing:border-box;
width:16px;
height:16px;
border:1px solid #808080;
border-radius: 4px
}

.calculate__checkbox__text{
width: 331px;
height: 48px;
margin-left: 20px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
color: #181818;
}

.calculate_container__bottom{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px 0px 0px;
gap: 8px;

width: 400px;
height: 88px;
}

.calculate_container__bottom-frame{
box-sizing: border-box;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 24px 17px;
gap: 8px;
margin-top: 25px;

width: 400px;
height: 56px;

border: 2px solid #181818;
border-radius: 8px;
}

.calculate_container__bottom-text{
width: 175px;
height: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #181818;
}

.calculate__container2__title2{
width: 318px;
height: 64px;
margin: -15px 0px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 64px;
/* identical to box height, or 200% */
letter-spacing: -0.02em;
color: #181818;
}

.calculate_container2__cost-block{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 120px;
height: 48px;
}

.block__text{
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
color: #181818;
}

.block__text2{
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
color: #181818;
}

#text1{
width: 83px;
height: 24px;
}

#text2{
width: 120px;
height: 24px;
}

#text3{
width: 141px;
height: 24px;
}

#text4{
width: 161px;
height: 24px;
}

.calculate_container2__time-block{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 161px;
height: 48px;
}

.calculate_container2__discuss-block{
position: absolute;
left: 24px;
top: 288px;
width: 352px;
height: 56px;

background: #181818;
border-radius: 8px;
}


.calculate_container2__discuss-block p{
width: 135px;
height: 24px;

font-family: "Raleway";
font-weight: 600;
font-size: 16px;
line-height: 24px;

margin-left: auto;
margin-right: auto;

color: #FFFFFF;
}

.calculate__container2__clock{
position: absolute;
width: 100px;
height: 100px;
left: -81px;
top: 3940px;
}

.calculate__container2__man{
position: absolute;
width: 170px;
height: 170px;
left: 1064px;
top: 4055px;
}

.form__background{
position: absolute;
width: 1520px;
height: 1232px;
left: -150px;
top: 4826px;

background: #181818;
}

.form__title{
position: absolute;
width: 316px;
height: 64px;
left: 432px;
top: 4900px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 64px;
/* identical to box height, or 133% */
letter-spacing: -0.02em;
color: #ffffff;
}

.form__frame{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

position: absolute;
width: 1160px;
height: 848px;
left: 140px;
top: 5672px;
}

.form__frame__block{
box-sizing: border-box;
/* Auto layout */

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 32px 40px;
gap: 24px;

width: 1160px;
height: 88px;

background: #FFFFFF;
border: 1px solid #CCCCCC;
border-radius: 16px;
}

#block1{
margin:-600px -100px;
}

#block2{
height: 328px;    
margin:600px -100px;   
}

#block3{
margin:-600px -100px;      
}

#block4{
margin:600px -100px;   
}

#block5{
margin:-600px -100px;  
}

#block6{
margin:600px -100px;   
}

.form__frame__block_question{
width: 269px;
height: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
color: #181818;
}

.form__frame__block2_answ{
width: 800px;
height: 216px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
color: #181818;
}

#width{
    width: 400px;  
}

details > summary {
cursor: pointer;
}


.application__headtitle{
position: absolute;
width: 371px;
height: 64px;
left: 432px;
top: 6120px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 64px;
/* identical to box height, or 133% */
letter-spacing: -0.02em;
color: #181818;
}

.application__advise{
position: absolute;
width: 391px;
height: 24px;
left: 422px;
top: 6218px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
color: #181818;
}

.application__container{
box-sizing: border-box;
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 40px 24px;
gap: 8px;

position: absolute;
width: 448px;
height: 552px;
left: 390px;
top: 6338px;

background: #FFFFFF;
border: 1px solid #CCCCCC;
border-radius: 16px;
}

.application__container__block{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;

width: 400px;
height: 376px;
}

#email{
margin-top:-50px;      
}

#serv{
margin-top:-100px;    
}

#comment{
margin-top:-150px;    
width: 400px;
height: 160px;
}

.block__write{
box-sizing: border-box;
position: absolute;
height: 48px;
margin:0px 24px;
left: 0%;
right: 0%;
/* #dbdbdb stroke */
border: 1px solid #DBDBDB;
border-radius: 8px;
}

input::placeholder {
width: 150px;
height: 24px;
padding-left: 16px;

font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* #808080 secondary black */
color: #808080;
}

#send{
width: 400px;
height: 56px;
margin-top: 150px;
}

#text{
width: 178px;
height: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
color: #FFFFFF;
}

#ligthning2{
position: absolute;
width: 100px;
height: 100px;
left: -30px;
top: 6154px;
}

#message{
position: absolute;
width: 140px;
height: 140px;
left: 100px;
top: 6800px;
}

#laptop_man{
position: absolute;
width: 170px;
height: 170px;
left: 1150px;
top: 6500px;
}

.social_media{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

position: absolute;
height: 104px;
left: 75%;
right: 30%;
top: 6338px;
}









